; - Default configuration ------------------------
; ------------------------------------------------
[default]
; View template configs
view[layout] = "layout"

; DB connection configs
db[host] = "localhost"
db[database] = "simps"

; - Domain specific configuration ----------------
; ------------------------------------------------
[simps.dev]
; DB connection configs
db[user] = "simps_user"
db[password] = "simps_pass"
